name: S3 Two-Way Sync

on:
  push:
    branches: [ master ]

jobs:
  sync:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ap-south-1

      - name: Sync from S3 to repo (download)
        run: |
          aws s3 sync s3://github-s3-sync1234 ./ --exclude ".git/*"

      - name: Sync from repo to S3 (upload)
        run: |
          aws s3 sync ./ s3://github-s3-sync1234 --delete --exclude ".git/*"

